
html {
  background-size: 100px 100px;
  background-position: 0 0, 25px 25px, 50px 50px;
  text-align: center;
}

/* Background Pattern 
Taken From https: http://thepatternlibrary.com/ */

body{
  background-image: url("asteroids.jpg");
}

h1,
h2 {
  background-color: black ;
  color: white;
  width: 500px;
  margin: auto;
  margin-bottom: 5px;
}
#myCanvas {
  border: 1px solid  black;
}
